<?xml version="1.0"?>
<model>
  <name>rocky_terrain</name>
  <version>1.0</version>
  <sdf version='1.9'>rocky.sdf</sdf>
  <license>https://github.com/aionrobotics/aion_io/blob/master/LICENSE.txt</license>

  <author>
   <name>Michael Rooney</name>
  </author>

  <description>
    this is a rocky terrain
  </description>
</model>