<?xml version="1.0"?>
<model>
  <name>icy_plane</name>
  <version>1.0</version>
  <sdf version='1.9'>icy_plane.sdf</sdf>
  <license>https://github.com/aionrobotics/aion_io/blob/master/LICENSE.txt</license>

  <author>
   <name>Michael Rooney</name>
  </author>

  <description>
    this is an icy terrain
  </description>
</model>